<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://attprd-generalfunctions.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>false</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/66d49228-2790-4a5a-a194-c2daebe8f9c3/resourcegroups/FunctionsProducao/providers/Microsoft.Web/sites/attprd-generalfunctions</ResourceId>
    <UserName>$attprd-generalfunctions</UserName>
    <_SavePWD>true</_SavePWD>
    <PublishUrl>https://attprd-generalfunctions.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>